body {
  background-image:url('https://cloud.githubusercontent.com/assets/480415/6270518/9f04d59c-b828-11e4-865e-f6046964fd75.jpg');
  background-repeat: no-repeat;
  background-size: cover;  
}

h1,h3 {
  color: #fff;
}
